* {
	border: none;
	border-radius: 0;
	/* padding: 0; */
	/* margin: 0; */
	font-size: 18px;
	font-family: CozetteVector;
	font-style: italic;
}

window#waybar {
	background: #0a0c10;
	color: #f0f3f6;
	margin: 20px;
}

#workspaces button {
	padding: 0;
}

#workspaces button:hover,
#workspaces button:active {
	background-color: #424242;
	color: #f0f3f6;
}

#workspaces button.focused {
	background-color: #424242;
	color: #f0f3f6;
}

#language {
	margin-right: 7px;
}

#battery {
	margin-left: 7px;
	margin-right: 3px;
}

#clock {
	margin: 0px 6px;
}
