/* @import url("file:///p/.cache/wal/colors-waybar.css"); */

@define-color foreground #839496;
@define-color background #002b36;
@define-color color0 #073642;
/* base02 */
@define-color color1 #dc322f;
/* red */
@define-color color2 #859900;
/* green */
@define-color color3 #b58900;
/* yellow */
@define-color color4 #268bd2;
/* blue */
@define-color color5 #d33682;
/* magenta */
@define-color color6 #2aa198;
/* cyan */
@define-color color7 #eee8d5;
/* base2 */

* {
	font-family: Mononoki Nerd Font;
	font-size: 20px;
	min-height: 0;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 0px;
}

#waybar {
	background: transparent;
	color: @foreground;
	margin: 2px 2px;
}

#workspaces {
	border-radius: 5px;
	margin: 5px;
	background: @background;
	margin-left: 1rem;
}

#workspaces button {
	color: @color5;
	/* Was purplish #babbf1 */
	border-radius: 5px;
	padding: 0.4rem;
}

#workspaces button.active {
	color: @color6;
	/* Was cyanish #99d1db */
	border-radius: 5px;
}

#workspaces button:hover {
	color: @foreground;
	/* Was bluish #85c1dc */
	border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
	background-color: @background;
	padding: 0.5rem 1rem;
	margin: 5px 0;
	border-radius: 0px 5px 5px 0px;
}

#memory {
	border-radius: 0px 5px 5px 0px;
}

#clock {
	color: @color4;
	/* Was blue #8caaee */
	border-radius: 5px;
	margin-right: 1rem;
}

#battery {
	color: @color2;
	/* Was green #a6d189 */
}

#battery.charging {
	color: @color2;
	/* Was green #a6d189 */
}

#battery.warning:not(.charging) {
	color: @color1;
	/* Was red #e78284 */
}

#backlight {
	color: @color3;
	/* Was yellow #e5c890 */
}

#backlight,
#battery,
#cpu {
	border-radius: 0;
}

#pulseaudio {
	color: @color5;
	/* Was pink/magenta #ea999c */
	border-radius: 5px 0px 0px 5%;
	margin-left: 1rem;
}

#custom-music {
	color: @color6;
	/* Was purple #ca9ee6 */
	border-radius: 5px;
}

#custom-lock {
	border-radius: 5px 0px 0px 5px;
	color: @foreground;
	/* Was purplish #babbf1 */
}

#custom-power {
	margin-right: 1rem;
	border-radius: 0px 5px 5px 0px;
	color: @color1;
	/* Was red #e78284 */
}

#tray {
	margin-right: 1rem;
	margin-left: 1rem;
	border-radius: 5px;
}
