@import "color.css";

* {
    border: none;
    border-radius: 0;
    font-family: "CartographCF Nerd Font";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
    margin-left: 4px;
    margin-right: 4px;
}

window#waybar {
    border-radius: 0px;
    background: @bg;
    color: @fg;
}

tooltip {
    background: @bg;
    border-radius: 0px;
}

#workspaces button {
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid @bg;
}

#workspaces button:nth-child(1) {
    color: @red;
}

#workspaces button:nth-child(2) {
    color: @green;
}

#workspaces button:nth-child(3) {
    color: @yellow;
}

#workspaces button:nth-child(4) {
    color: @blue;
}

#workspaces button:nth-child(5) {
    color: @magenta;
}

#workspaces button:nth-child(6) {
    color: @cyan;
}

#workspaces button:nth-child(7) {
    color: @red;
}

#workspaces button:nth-child(8) {
    color: @green;
}

#workspaces button:nth-child(9) {
    color: @yellow;
}

#workspaces button:nth-child(10) {
    color: @blue;
}

#workspaces button.active {
    color: @fg;
}

#workspaces button.empty {
    color: @bg2;
}

#workspaces button.focused {
    background: transparent;
    border-bottom: 1px solid @fg;
}

#workspaces button.urgent {
    color: @red;
    background: @bg;
}

#workspaces button:hover {
    background: @bg;
    color: @gray;
    box-shadow: inherit;
    text-shadow: inherit;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    padding: 5px 5px;
}

#pulseaudio {
    color: @blue;
}

#battery {
    color: @green;
}

#mpd {
    color: @cyan;
}

#backlight {
    color: @magenta;
}

#power-profiles-daemon {
    color: @cyan;
}
