/* @import url("file:///home/lucas/.cache/wal/colors-waybar.css"); */

@define-color foreground #f8f8f0;
@define-color background #21272e;

@define-color color0     #181A1F; /* black   */
@define-color color1     #e74c3c; /* red     */
@define-color color2     #53df83; /* green   */
@define-color color3     #9cd230; /* yellow  */
@define-color color4     #56b6c2; /* blue    */
@define-color color5     #1abc9c; /* magenta */
@define-color color6     #30c965; /* cyan    */
@define-color color7     #f8f8f0; /* white   */

@define-color color8     #737c8c; /* bright black (gray) */
@define-color color9     #ff6b5a; /* bright red          */
@define-color color10    #6cf89b; /* bright green        */
@define-color color11    #b8e639; /* bright yellow       */
@define-color color12    #7fd9e5; /* bright blue         */
@define-color color13    #2fe2c2; /* bright magenta      */
@define-color color14    #53df83; /* bright cyan         */
@define-color color15    #ffffff; /* bright white        */

* {
	font-family: Terminess Nerd Font;
	font-size: 20px;
	min-height: 0;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 0px;
}

#waybar {
	background: transparent;
	color: @foreground;
	margin: 2px 2px;
}

#workspaces {
	border-radius: 5px;
	margin: 5px;
	background: @background;
	margin-left: 1rem;
}

#workspaces button {
	color: @color5;
	/* Was purplish #babbf1 */
	border-radius: 5px;
	padding: 0.4rem;
}

#workspaces button.active {
	color: @color6;
	/* Was cyanish #99d1db */
	border-radius: 5px;
}

#workspaces button:hover {
	color: @foreground;
	/* Was bluish #85c1dc */
	border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#power-profiles-daemon,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
	background-color: @background;
	padding: 0.5rem 1rem;
	margin: 5px 0;
	border-radius: 0px 5px 5px 0px;
}

#memory {
	border-radius: 0px 5px 5px 0px;
}

#clock {
	color: @color4;
	/* Was blue #8caaee */
	border-radius: 5px;
	margin-right: 1rem;
}

#battery {
	color: @color2;
	/* Was green #a6d189 */
}

#power-profiles-daemon {
	color: @color4;
	/* Was green #a6d189 */
}

#battery.charging {
	color: @color2;
	/* Was green #a6d189 */
}

#battery.warning:not(.charging) {
	color: @color1;
	/* Was red #e78284 */
}

#backlight {
	color: @color3;
	/* Was yellow #e5c890 */
}

#backlight,
#battery,
#cpu, #power-profiles-daemon {
	border-radius: 0;
}

#pulseaudio {
	color: @color5;
	/* Was pink/magenta #ea999c */
	border-radius: 5px 0px 0px 5%;
	margin-left: 1rem;
}

#custom-music {
	color: @color6;
	/* Was purple #ca9ee6 */
	border-radius: 5px;
}

#custom-lock {
	border-radius: 5px 0px 0px 5px;
	color: @foreground;
	/* Was purplish #babbf1 */
}

#custom-power {
	margin-right: 1rem;
	border-radius: 0px 5px 5px 0px;
	color: @color1;
	/* Was red #e78284 */
}

#tray {
	margin-right: 1rem;
	margin-left: 1rem;
	border-radius: 5px;
}
