/* @import url("file:///home/lucas/.cache/wal/colors-waybar.css"); */


@define-color foreground #f7f1ff;
@define-color background #222222;

@define-color color0     #131313; /* black   */
@define-color color1     #fc618d; /* red     */
@define-color color2     #7bd88f; /* green   */
@define-color color3     #fce566; /* yellow  */
@define-color color4     #948ae3; /* blue    */
@define-color color5     #fd9353; /* orange  */
@define-color color6     #5ad4e6; /* cyan    */
@define-color color7     #f7f1ff; /* white   */

@define-color color8     #191919; /* bright black */
@define-color color9     #fc618d; /* bright red   */
@define-color color10    #7bd88f; /* bright green */
@define-color color11    #fce566; /* bright yellow*/
@define-color color12    #948ae3; /* bright blue  */
@define-color color13    #fd9353; /* bright magenta/orange */
@define-color color14    #5ad4e6; /* bright cyan  */
@define-color color15    #ffffff; /* bright white */

* {
	font-family: Terminess Nerd Font;
	font-size: 20px;
	min-height: 0;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 0px;
}

#waybar {
	background: transparent;
	color: @foreground;
	margin: 2px 2px;
}

#workspaces {
	border-radius: 5px;
	margin: 5px;
	background: @background;
	margin-left: 1rem;
}

#workspaces button {
	color: @color5;
	/* Was purplish #babbf1 */
	border-radius: 5px;
	padding: 0.4rem;
}

#workspaces button.active {
	color: @color6;
	/* Was cyanish #99d1db */
	border-radius: 5px;
}

#workspaces button:hover {
	color: @foreground;
	/* Was bluish #85c1dc */
	border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#power-profiles-daemon,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
	background-color: @background;
	padding: 0.5rem 1rem;
	margin: 5px 0;
	border-radius: 0px 5px 5px 0px;
}

#memory {
	border-radius: 0px 5px 5px 0px;
}

#clock {
	color: @color4;
	/* Was blue #8caaee */
	border-radius: 5px;
	margin-right: 1rem;
}

#battery {
	color: @color2;
	/* Was green #a6d189 */
}

#power-profiles-daemon {
	color: @color4;
	/* Was green #a6d189 */
}

#battery.charging {
	color: @color2;
	/* Was green #a6d189 */
}

#battery.warning:not(.charging) {
	color: @color1;
	/* Was red #e78284 */
}

#backlight {
	color: @color3;
	/* Was yellow #e5c890 */
}

#backlight,
#battery,
#cpu, #power-profiles-daemon {
	border-radius: 0;
}

#pulseaudio {
	color: @color5;
	/* Was pink/magenta #ea999c */
	border-radius: 5px 0px 0px 5%;
	margin-left: 1rem;
}

#custom-music {
	color: @color6;
	/* Was purple #ca9ee6 */
	border-radius: 5px;
}

#custom-lock {
	border-radius: 5px 0px 0px 5px;
	color: @foreground;
	/* Was purplish #babbf1 */
}

#custom-power {
	margin-right: 1rem;
	border-radius: 0px 5px 5px 0px;
	color: @color1;
	/* Was red #e78284 */
}

#tray {
	margin-right: 1rem;
	margin-left: 1rem;
	border-radius: 5px;
}
