
[window]

opacity = 0.93
padding.x = 10
# padding.y = 10
decorations = "Full"
decorations_theme_variant = "Light" # "Dark"

[font]
size = 14
normal.family = "Mononoki Nerd Font"
normal.style = "Regular"
bold.family = "Mononoki Nerd Font"
bold.style = "Bold"
italic.family = "Mononoki Nerd Font"
italic.style = "Italic"
bold_italic.family = "Mononoki Nerd Font"
bold_italic.style = "Bold Italic"


[[hints.enabled]]
binding = { key = "O", mods = "Control|Shift" }
command = "xdg-open"
hyperlinks = true
mouse.enabled = true
mouse.mods = "Control"
post_processing = true
persist = false
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩‘]+"

[keyboard]
bindings = [
    { key = "T", mods = "Control|Shift", command = { program = "fish", args = ["/yang/scripts/toggle_opacity_alacritty.fish"] } }
]

[general]
import = ["~/.config/alacritty/alabaster.toml"]
# import = ["~/.cache/wal/colors-alacritty.toml"]

[terminal]
