* {
	border: none;
	border-radius: 0;
	/* padding: 0; */
	/* margin: 0; */
	font-size: 15px;
	font-family: FiraCode Nerd Font;
	font-style: italic;
}

window#waybar {
	background: #002b36;
	color: #ffffff;
	margin: 10px;
}

#workspaces button {
	margin-left: 2px;
	padding: 2px 8px;
	color: #839496;
}

#workspaces button:hover,
#workspaces button:active {
	background-color: #004d61;
	color: #839496;
}

#workspaces button.focused {
	background-color: #004d61;
}

#language {
	margin-right: 7px;
}

#battery {
	margin-left: 7px;
	margin-right: 3px;
}

#clock {
	margin: 0px 6px;
}
