#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "I",
        "II",
        "III",
        "IV",
        "V",
        "VI",
        "VII",
        "VIII",
        "IX",
        "X",
        "XI",
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        Monocle,
        MainAndHorizontalStack,
        // MainAndDeck,
        GridHorizontal,
        EvenHorizontal,
        // EvenVertical,
        Fibonacci,
        LeftMain,
        CenterMain,
        // CenterMainBalanced,
        // CenterMainFluid,
        // RightWiderLeftStack,
        // LeftWiderRightStack,
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Kitty", value: "kitty", x: 150, y: 100, height: 900, width: 1600),
        (name: "Feh", value: "feh ~/pics/363032073_179911381762816_6317942459227566936_n.jpg", x: 150, y: 100, height: 900, width: 1600),
    ],
    window_rules: [
        (window_title:".*Anki$", window_class: "^Anki$", spawn_on_tag: 5),
        (window_title: "^Add$", window_class:"^Anki$", spawn_floating: true, spawn_on_tag: 5),
        (window_class: "Lutris", spawn_on_tag: 7),
        (window_class: "pavucontrol", spawn_floating: true),
        (window_class: "PrismLauncher", spawn_on_tag: 7),
        (window_class: "Steam", spawn_on_tag: 8),
        (window_class: "TeamSpeak 3", spawn_on_tag: 6),
        (window_class: "Thunar", spawn_floating: true),
        (window_class: "QOwnNotes", window_title:".*QownNotes.*", spawn_on_tag: 3),
        (window_class: "QOwnNotes", window_title: "Settings", spawn_floating: true),
        (window_class: "Virt-manager", spawn_on_tag: 10),
        (window_class: "Spotify", spawn_on_tag: 4),
        (window_class: "thunderbird", spawn_on_tag: 10),
        (window_class: "XIVLauncher.Core", spawn_on_tag: 7),
        (window_class: "The Honkers Railway Launcher", spawn_on_tag: 7),
        (window_class: "Xournalpp", spawn_on_tag: 4),
        (window_class: "amberol", spawn_floating: true),
        (window_class: ".*.exe$", spawn_on_tag: 9, spawn_floating: true),
        (window_class: "^discord.*", window_title:".*Discord$", spawn_on_tag: 6),
        (window_class: "WebCord", spawn_on_tag: 6),
        (window_class: "^discord.*", window_title:".*discord-screenaudio.*", spawn_on_tag: 6, spawn_floating: false),
        (window_title: "File Upload", spawn_floating: true),
        (window_title: "Library", spawn_floating: true),
        (window_title: ".*Save.*", spawn_floating: true),
        (window_title: ".*Sign in.*", spawn_floating: true),
        (window_class: "gamescope", spawn_on_tag: 9),
        (window_class: "heroic", spawn_on_tag: 7),
        (window_class: "obs", spawn_on_tag: 5),
        (window_class: "obsidian", spawn_on_tag: 3),
        (window_class: "parsecd", spawn_on_tag: 5),
        (window_class: "Dbeaver", spawn_on_tag: 3),
        (window_class: "Chromium-browser", spawn_on_tag: 10),
        (window_class: "steam", spawn_on_tag: 8),
        (window_class: ".*Minecraft.*", spawn_on_tag: 9),
        (window_class: ".*csgo.*", spawn_on_tag: 9),
        (window_class: ".*wine.*", spawn_floating: true),
        (window_class: "Warframe*", spawn_on_tag: 9, spawn_floating: true),
        (window_class: ".*league.*", spawn_on_tag: 9, spawn_floating: true),
        (window_class: "leagueclient.exe", spawn_on_tag: 9, spawn_as_type: Splash),
        (window_class: ".*riot.*", spawn_on_tag: 9, spawn_floating: true),
        (window_class: ".*steam_.*", spawn_on_tag: 9, spawn_floating: true),
        (window_title: ".*Properties.*", spawn_floating: true),
        (window_title: "steam_app_1476970", spawn_fullscreen: true),
        // (window_title: ".*LibreOffice.*", spawn_on_tag: 11),
        (window_class: "Signal", spawn_on_tag: 11),
        (window_class: "corectrl", spawn_on_tag: 11),
        (window_class: "r2modman", spawn_on_tag: 3),
        (window_title: "", window_class: "^client.*.exe$", spawn_on_tag:10),
        (window_title: "Wuthering Waves  ", window_class: "^client.*.exe$", spawn_on_tag: 9),
        (window_class: "steam_app_1267910", spawn_on_tag: 10),
        (window_class: "Melvor Idle", spawn_on_tag: 10),
    ],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        (command: Execute, value: "rofi -show drun", modifier: ["modkey", "Shift"], key: "Return"),
        (command: Execute, value: "~/.local/bin/wezterm-gui", modifier: ["modkey"], key: "Return"),
        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "c"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "x"),
        (command: Execute, value: "slock", modifier: ["modkey", "Control"], key: "l"),
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop, value: "", modifier: ["modkey", "Alt"], key: "Return"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        (command: IncreaseMainWidth, value: "5", modifier: ["modkey"], key: "l"),
        (command: DecreaseMainWidth, value: "5", modifier: ["modkey"], key: "h"),
        (command: NextLayout, value: "", modifier: ["modkey"], key: "space"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "period"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "comma"),
        (command: MoveWindowToNextWorkspace, value: "", modifier: ["modkey", "Shift"], key: "period"),
        (command: MoveWindowToPreviousWorkspace, value: "", modifier: ["modkey", "Shift"], key: "comma"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "Right"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "Left"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
        (command: GotoTag, value: "10", modifier: ["modkey"], key: "0"),
        (command: GotoTag, value: "11", modifier: ["modkey"], key: "minus"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
        (command: MoveToTag, value: "10", modifier: ["modkey", "Shift"], key: "0"),
        (command: MoveToTag, value: "11", modifier: ["modkey", "Shift"], key: "minus"),
        (command: ToggleScratchPad, value: "Kitty", modifier: ["modkey", "Control"], key: "Return"),
        (command: ToggleScratchPad, value: "Feh", modifier: ["modkey", "Control"], key: "i"),
        (command: ToggleFloating, modifier: ["modkey"], key: "t"),
        (command: ToggleSticky, modifier: ["modkey"], key: "v"),
        (command: ToggleFullScreen, modifier: ["modkey"], key: "f"),

        // apps
        (command: Execute, value: "~/.local/bin/print-fullscreen.sh", modifier: [], key: "Print"),
        (command: Execute, value: "~/.local/bin/print-select.sh", modifier: ["Shift"], key: "Print"),
        (command: Execute, value: "~/.local/bin/print-tmp.sh", modifier: ["Control", "Shift"], key: "Print"),
        (command: Execute, value: "~/.local/bin/print-window.sh", modifier: ["Control"], key: "Print"),
        (command: Execute, value: "firefox", modifier: ["modkey"], key: "b"),
        (command: Execute, value: "steam --noverifyfiles -cef-enable-debugging", modifier: ["modkey", "Shift"], key: "s"),
        (command: Execute, value: "thunar", modifier: ["modkey"], key: "e"),
        (command: Execute, value: "~/scripts/macro.sh", modifier: ["Control", "Shift"], key: "m"),
        (command: Execute, value: "flatpak run --env=XL_SECRET_PROVIDER=file dev.goats.xivlauncher", modifier: ["modkey", "Alt"], key: "x"),
        // (command: Execute, value: "xdotool type ？\n", modifier: ["Shift"], key:"question"),
        // (command: Execute, value: "xdotool type ！\n", modifier: ["Shift"], key:"exclam")
    ],
    state_path: None,
)
